<section class="call">
    <div class="call__body">
        <h3 class="call__body-title">
            Заявка на обратный звонок
        </h3>
        <form class="call__body-form" action="">
            <div class="call__body-form-item">
                <input class="text" placeholder="ФИО" type="text">
                <img class="none err" src="../images/dist/inp__err.png" alt="">
                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
            </div>
            <div class="call__body-form-item text">
                <input class="text" placeholder="Телефон для связи" type="tel">
                <img class="none err" src="../images/dist/inp__err.png" alt="">
                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
            </div>
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input id="check" type="checkbox">
                    <span></span>
                    <p>Подтвердить согласие с условиями <a href="">политики конфидициальности</a> и предоставления
                        персональных данных</p>
                </label>
            </div>
        </form>
        <button class="call__body-btn hover__one">
            Отправить
        </button>
        <button class="call__body-close">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_6054)">
                    <path
                        d="M15.3695 14.0839L10.2724 8.99889L15.3575 3.90162C15.7083 3.55 15.7076 2.97969 15.3559 2.62879C15.0042 2.27801 14.4339 2.27869 14.0832 2.63031L8.99802 7.72758L3.90075 2.64244C3.54913 2.29166 2.97883 2.29233 2.62804 2.64395C2.27714 2.99569 2.27782 3.566 2.62944 3.91678L7.72671 9.00192L2.64169 14.0991C2.29079 14.4508 2.29147 15.0211 2.64308 15.3719C2.99482 15.7228 3.56513 15.7221 3.91603 15.3704L9.00105 10.2732L14.0982 15.3583C14.4499 15.7092 15.0202 15.7085 15.3711 15.3567C15.7219 15.0051 15.7213 14.4348 15.3695 14.0839Z"
                        fill="#969FA8" />
                </g>
                <defs>
                    <clipPath id="clip0_1_6054">
                        <rect width="18" height="18" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
    <div class="modalpo__body none">
        <h3 class="modalpo__body-title">
            Спасибо! Ваша заявка отправлена
        </h3>
        <p>Наш менеджер свяжется с Вами в течении 15 минут</p>
        <button class="modalpo__body-btn hover__one">
            На главную
        </button>
        <button class="modalpo__body-close">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_6054)">
                <path d="M15.3695 14.0839L10.2724 8.99889L15.3575 3.90162C15.7083 3.55 15.7076 2.97969 15.3559 2.62879C15.0042 2.27801 14.4339 2.27869 14.0832 2.63031L8.99802 7.72758L3.90075 2.64244C3.54913 2.29166 2.97883 2.29233 2.62804 2.64395C2.27714 2.99569 2.27782 3.566 2.62944 3.91678L7.72671 9.00192L2.64169 14.0991C2.29079 14.4508 2.29147 15.0211 2.64308 15.3719C2.99482 15.7228 3.56513 15.7221 3.91603 15.3704L9.00105 10.2732L14.0982 15.3583C14.4499 15.7092 15.0202 15.7085 15.3711 15.3567C15.7219 15.0051 15.7213 14.4348 15.3695 14.0839Z" fill="#969FA8"/>
                </g>
                <defs>
                <clipPath id="clip0_1_6054">
                <rect width="18" height="18" fill="white"/>
                </clipPath>
                </defs>
            </svg>                
        </button>
    </div>
</section>