<section class="ourVac">
    <div class="container">
        <div class="ourVac__body">
            <h2 class="ourVac__body-title">
                Наши вакансии
            </h2>
            <div class="ourVac__body-box">
                <div class="ourVac__body-box-start">
                    <div class="ourVac__body-box-start-item">
                        <div class="ourVac__body-box-start-item-text">
                            <span>Менеджер-представитель</span>
                            <p>от 70 000 ₽ </p>
                        </div>
                        <div class="ourVac__body-box-start-item-acc">
                            <div class="ourVac__body-box-start-item-desc">
                                <span>Описание</span>
                                <p>Описание вакансии....Являемся отечественным разработчиком программного обеспечения, занимается консалтингом в области информационных технологий.</p>
                            </div>
                            <div class="ourVac__body-box-start-item-tag">
                                <span>Ключевой навык 1</span>
                                <span>Коммуникабельность</span>
                                <span>Профессионализм</span>
                                <span>1С</span>
                                <span>MS Word</span>
                            </div>
                        </div>
                        <button class="ourVac__body-box-start-item-btn">
                            <span>Подробнее</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_5003)">
                                <path d="M3.81977 12.2845L3.80236 12.2949L9.99157 6.46847L9.88157 10.25C9.87592 10.4349 9.94506 10.6131 10.0725 10.7484C10.1999 10.8838 10.3727 10.9627 10.5578 10.9684L11.1457 10.9863C11.3305 10.9919 11.507 10.9251 11.6422 10.7977C11.7776 10.6703 11.8553 10.4986 11.8609 10.3137L12.0567 3.83904C12.0623 3.65349 11.9947 3.47698 11.8668 3.34191C11.739 3.20537 11.5668 3.12719 11.3814 3.12173L4.90639 2.92626C4.72164 2.92076 4.54551 2.98784 4.41008 3.11534C4.2748 3.24269 4.19729 3.41453 4.19156 3.5992L4.17396 4.18709C4.16817 4.37183 4.2354 4.54797 4.36282 4.68332C4.49017 4.8186 4.65563 4.88964 4.84045 4.89508L8.654 5.00363L2.45035 10.8437C2.1716 11.1061 2.16353 11.5669 2.42581 11.8455L2.8291 12.2739C3.09138 12.5525 3.54102 12.5469 3.81977 12.2845Z" fill="#0F1A32"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_5003">
                                <rect x="16" y="16" width="16" height="16" rx="8" transform="rotate(-180 16 16)" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </button>
                    </div>
                    <div class="ourVac__body-box-start-item">
                        <div class="ourVac__body-box-start-item-text">
                            <span>Инструктор</span>
                            <p>от 40 000 ₽ </p>
                        </div>
                        <div class="ourVac__body-box-start-item-acc">
                            <div class="ourVac__body-box-start-item-desc">
                                <span>Описание</span>
                                <p>Описание вакансии....Являемся отечественным разработчиком программного обеспечения, занимается консалтингом в области информационных технологий.</p>
                            </div>
                            <div class="ourVac__body-box-start-item-tag">
                                <span>Ключевой навык 1</span>
                                <span>Коммуникабельность</span>
                                <span>Профессионализм</span>
                                <span>1С</span>
                                <span>MS Word</span>
                            </div>
                        </div>
                        <button class="ourVac__body-box-start-item-btn">
                            <span>Подробнее</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_5003)">
                                <path d="M3.81977 12.2845L3.80236 12.2949L9.99157 6.46847L9.88157 10.25C9.87592 10.4349 9.94506 10.6131 10.0725 10.7484C10.1999 10.8838 10.3727 10.9627 10.5578 10.9684L11.1457 10.9863C11.3305 10.9919 11.507 10.9251 11.6422 10.7977C11.7776 10.6703 11.8553 10.4986 11.8609 10.3137L12.0567 3.83904C12.0623 3.65349 11.9947 3.47698 11.8668 3.34191C11.739 3.20537 11.5668 3.12719 11.3814 3.12173L4.90639 2.92626C4.72164 2.92076 4.54551 2.98784 4.41008 3.11534C4.2748 3.24269 4.19729 3.41453 4.19156 3.5992L4.17396 4.18709C4.16817 4.37183 4.2354 4.54797 4.36282 4.68332C4.49017 4.8186 4.65563 4.88964 4.84045 4.89508L8.654 5.00363L2.45035 10.8437C2.1716 11.1061 2.16353 11.5669 2.42581 11.8455L2.8291 12.2739C3.09138 12.5525 3.54102 12.5469 3.81977 12.2845Z" fill="#0F1A32"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_5003">
                                <rect x="16" y="16" width="16" height="16" rx="8" transform="rotate(-180 16 16)" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </button>
                    </div>
                    <div class="ourVac__body-box-start-item">
                        <div class="ourVac__body-box-start-item-text">
                            <span>Мерчендайзер</span>
                            <p>от 40 000 ₽ </p>
                        </div>
                        <div class="ourVac__body-box-start-item-acc">
                            <div class="ourVac__body-box-start-item-desc">
                                <span>Описание</span>
                                <p>Описание вакансии....Являемся отечественным разработчиком программного обеспечения, занимается консалтингом в области информационных технологий.</p>
                            </div>
                            <div class="ourVac__body-box-start-item-tag">
                                <span>Ключевой навык 1</span>
                                <span>Коммуникабельность</span>
                                <span>Профессионализм</span>
                                <span>1С</span>
                                <span>MS Word</span>
                            </div>
                        </div>
                        <button class="ourVac__body-box-start-item-btn">
                            <span>Подробнее</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_5003)">
                                <path d="M3.81977 12.2845L3.80236 12.2949L9.99157 6.46847L9.88157 10.25C9.87592 10.4349 9.94506 10.6131 10.0725 10.7484C10.1999 10.8838 10.3727 10.9627 10.5578 10.9684L11.1457 10.9863C11.3305 10.9919 11.507 10.9251 11.6422 10.7977C11.7776 10.6703 11.8553 10.4986 11.8609 10.3137L12.0567 3.83904C12.0623 3.65349 11.9947 3.47698 11.8668 3.34191C11.739 3.20537 11.5668 3.12719 11.3814 3.12173L4.90639 2.92626C4.72164 2.92076 4.54551 2.98784 4.41008 3.11534C4.2748 3.24269 4.19729 3.41453 4.19156 3.5992L4.17396 4.18709C4.16817 4.37183 4.2354 4.54797 4.36282 4.68332C4.49017 4.8186 4.65563 4.88964 4.84045 4.89508L8.654 5.00363L2.45035 10.8437C2.1716 11.1061 2.16353 11.5669 2.42581 11.8455L2.8291 12.2739C3.09138 12.5525 3.54102 12.5469 3.81977 12.2845Z" fill="#0F1A32"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_5003">
                                <rect x="16" y="16" width="16" height="16" rx="8" transform="rotate(-180 16 16)" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="ourVac__body-box-end">
                    <div class="ourVac__body-box-end-item">
                        <div class="ourVac__body-box-end-item-text">
                            <span>Мерчендайзер</span>
                            <p>от 200 000 ₽</p>
                        </div>
                        <div class="ourVac__body-box-end-item-acc">
                            <div class="ourVac__body-box-end-item-desc">
                                <span>Описание</span>
                                <p>Описание вакансии....Являемся отечественным разработчиком программного обеспечения, занимается консалтингом в области информационных технологий.</p>
                            </div>
                            <div class="ourVac__body-box-end-item-tag">
                                <span>Ключевой навык 1</span>
                                <span>Коммуникабельность</span>
                                <span>Профессионализм</span>
                                <span>1С</span>
                                <span>MS Word</span>
                            </div>
                        </div>
                        <button class="ourVac__body-box-end-item-btn">
                            <span class="text">Подробнее</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1_5003)">
                                <path d="M3.81977 12.2845L3.80236 12.2949L9.99157 6.46847L9.88157 10.25C9.87592 10.4349 9.94506 10.6131 10.0725 10.7484C10.1999 10.8838 10.3727 10.9627 10.5578 10.9684L11.1457 10.9863C11.3305 10.9919 11.507 10.9251 11.6422 10.7977C11.7776 10.6703 11.8553 10.4986 11.8609 10.3137L12.0567 3.83904C12.0623 3.65349 11.9947 3.47698 11.8668 3.34191C11.739 3.20537 11.5668 3.12719 11.3814 3.12173L4.90639 2.92626C4.72164 2.92076 4.54551 2.98784 4.41008 3.11534C4.2748 3.24269 4.19729 3.41453 4.19156 3.5992L4.17396 4.18709C4.16817 4.37183 4.2354 4.54797 4.36282 4.68332C4.49017 4.8186 4.65563 4.88964 4.84045 4.89508L8.654 5.00363L2.45035 10.8437C2.1716 11.1061 2.16353 11.5669 2.42581 11.8455L2.8291 12.2739C3.09138 12.5525 3.54102 12.5469 3.81977 12.2845Z" fill="#0F1A32"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_5003">
                                <rect x="16" y="16" width="16" height="16" rx="8" transform="rotate(-180 16 16)" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>                           
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>