<section class="partners">
    <img class="desktop" src="../images/dist/part__img.png" alt="">
    <img class="mobile" src="../images/dist/part__back-mob.png" alt="">
    <div class="container">
        <div class="partners__body">
            <h1 class="partners__body-title">
                Партнеры
            </h1>
            <div class="partners__body-text">
                <span>Принципы построения отношений с партнерами</span>
                <p>Равное отношение, демонстрируем общность интересов, держим в курсе операций</p>
            </div>
        </div>
    </div>
</section>