<section class="po">
    <div class="container">
        <div class="po__body">
            <h1 class="po__body-title">
                Поставка ПО и Оборудования
            </h1>
            <div class="po__body-nav">
                <a class="po__body-nav-back" href="">
                    <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13 5C13.2761 5 13.5 4.77614 13.5 4.5C13.5 4.22386 13.2761 4 13 4V5ZM0.646446 4.14645C0.451184 4.34171 0.451184 4.65829 0.646446 4.85355L3.82843 8.03553C4.02369 8.2308 4.34027 8.2308 4.53553 8.03553C4.7308 7.84027 4.7308 7.52369 4.53553 7.32843L1.70711 4.5L4.53553 1.67157C4.7308 1.47631 4.7308 1.15973 4.53553 0.964466C4.34027 0.769204 4.02369 0.769204 3.82843 0.964466L0.646446 4.14645ZM13 4L1 4V5L13 5V4Z"
                            fill="#9198A0" />
                    </svg>
                    <span>Опросники</span>
                </a>
                <p>
                    /
                </p>
                <span class="po__body-nav-main">
                    Поставки ПО и оборудования
                </span>
            </div>
            <div class="po__body-card">
                <div class="po__body-card-choose">
                    <span class="po__body-card-choose-item active" data-choose="1">
                        Строительство СКС
                    </span>
                    <span class="po__body-card-choose-item" data-choose="2">
                        Системы информационной безопасности
                    </span>
                </div>
                <p>Опросный лист</p>
                <form class="po__body-card-form" action="" data-ch="1">
                    <div class="po__body-card-form-inp">
                        <div class="po__body-card-form-inp-start">
                            <div class="input__wrap-text">
                                <input placeholder="ФИО" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Организация" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Телефон для связи" type="tel" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Электронная почта" type="email" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                        </div>
                        <div class="po__body-card-form-inp-end">
                            <select class="select" name="" id="">
                                <option value="">Цели проекта</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <select class="select" name="" id="">
                                <option value="">Назначение СКС</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <div class="input__wrap-text">
                                <input placeholder="Количество строений" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Площадь помещения" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Площадь территории" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="po__body-card-form-btn hover__one">
                        Отправить
                    </button>
                </form>
                <form class="po__body-card-form none" action="" data-ch="2">
                    <div class="po__body-card-form-inp">
                        <div class="po__body-card-form-inp-start">
                            <div class="input__wrap-text">
                                <input placeholder="ФИО" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Организация" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Телефон для связи" type="tel" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Электронная почта" type="email" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                        </div>
                        <div class="po__body-card-form-inp-end">
                            <select class="select" name="" id="">
                                <option value="">Предпроектные работы</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <select class="select" name="" id="">
                                <option value="">Проектные работы</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <div class="input__wrap-text">
                                <input placeholder="Работы на объекте" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Обучение эксплуатационного персонала работе с системой информационной безопасности" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                            <div class="input__wrap-text">
                                <input placeholder="Наличии объектов КИИ ( соглавно ПП РФ №127 от 08.02.2018 и ФЗ №187 от 26.08.2018" type="text" class="text">
                                <img class="none err" src="../images/dist/inp__err.png" alt="">
                                <img class="none ok" src="../images/dist/inp__ok.png" alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="po__body-card-form-btn hover__one">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>