<section class="vac">
    <img class="vac__back desktop" src="../images/dist/vac__back.png" alt="">
    <img class="vac__back mobile" src="../images/dist/vac__back-mob.png" alt="">
    <div class="container">
        <div class="vac__body">
            <h1>вакансии</h1>
            <span class="vac__body-desc">Почему мы?</span>
            <div class="vac__body-card">
                <div class="vac__body-card-item">
                    <img class="desktop" src="../images/dist/vac__card1.png" alt="">
                    <img class="mobile" src="../images/dist/vac__card-mob1.png" alt="">
                    <span>Инновационная <br> рабочая среда</span>
                    <p>поощряет культуру инноваций, поощряя сотрудников мыслить нестандартно и вносить свой вклад в новаторские проекты</p>
                </div>
                <div class="vac__body-card-item">
                    <img class="desktop" src="../images/dist/vac__card2.png" alt="">
                    <img class="mobile" src="../images/dist/vac__card-mob2.png" alt="">
                    <span>Возможности <br> карьерного роста</span>
                    <p>компания стремится к профессиональному росту своих сотрудников, предлагая широкий спектр программ развития</p>
                </div>
                <div class="vac__body-card-item">
                    <img class="desktop" src="../images/dist/vac__card3.png" alt="">
                    <img class="mobile" src="../images/dist/vac__card-mob3.png" alt="">
                    <span>Культура сотрудничества <br> и инклюзивности</span>
                    <p>инклюзивная среда способствует командной работе и инновациям, создавая благоприятную атмосферу сотрудничества</p>
                </div>
            </div>
        </div>
    </div>
</section>